body{

background-color: #3A86FF;
background-repeat: no-repeat;
background-size: cover;
}

header {
	padding: 2px;
				background-color: black;
				font-family: 'Sedgwick Ave', cursive;
				color: white;
			}

nav {background-color: blue;}

#grande {width: 960px;}

section {background-color: black;
margin: 10px;
color: white;
height: 500px;}

.autores{
font-family: 'Sedgwick Ave', cursive;
position: absolute;
font-size: 30px;
top: 32%;
left: 45%;
}
.fotoa1{
	position: absolute;
	top: 50%;
	left: 20%;
}
.infoa1{
	position: absolute;
	top: 50%;
	left: 35%;
	right: 20%;
	border: 5px solid #FF006E;
border-radius: 15px;
padding: 10px;
}

.fotoa2{
position: absolute;
top: 93%;
right: 20%;
}
.infoa2{
position: absolute;
top: 90%;
left: 20%;
right: 35%;
border: 5px solid #FF006E;
border-radius: 15px;
padding: 10px;
}
.fotoa3{
	position: absolute;
	top: 135%;
	left: 18%;
}
.infoa3{
	position: absolute;
	top: 130%;
	left: 35%;
	right: 19%;
	border: 5px solid #FF006E;
border-radius: 15px;
padding: 10px;

}

article {background-color: #A5B1BD;}

aside {
			display: relative;
			width: 110px;
			height: 1070px;
			background-color: #FF006E;
			float: right;
			padding: 20px;
			font-family: sans-serif;
			position: relative;
			right: 2%;
			border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
border: 5px solid black;
border-radius: 15px;
		
}
.lado{
	
	float: left;
	position: absolute;
	top: 1%;
	left:2%;
border: 5px solid #000000;
}
.lado2{
	position: absolute;
	top: 150%;
	left:2%;
	border: 5px solid #000000;
}
.lado3{
	position: absolute;
	top: 300%;
	left:2%;
	border: 5px solid #000000;
}
.link{
	font-size: 20px;
	color: rebeccapurple;
	background-color: black;
	position: absolute;
	top: 137%;
	right: 3.5%;
	font-family:sans-serif;
	font-size: 16px;
}

#contenedor {
						width: 1000px;
						padding: 20px 0 px;
						margin: 0px;
						background: #E6ECF0;
						margin: 0 auto;
						float: center; 
						font-family: sans-serif;
					}

				
.indice {
					width: 1000px;
					height: 100px;
					position: relative;
					background-color:#FF006E ;

					color: #FF006E}
.indi{
	font-family: 'Sedgwick Ave', cursive;
	font-size: 20px;
	color: black;
	position: absolute;
	top: 10%;
}

.subindice {
						position: absolute;
						display: inline-block;
						margin: 20px;
						font-family: 'Sedgwick Ave', cursive;
						font-size: 20px;
						background-color: black;
						padding: 20PX	;
}
	
#iautor {margin: 7px;
	padding: 12px ;
	        padding-right: 25px;
	        padding-left: 25px;
					position: absolute;
					left: 15%;
					top: 16%;
					border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
					
}
.fa-solid-fa-book-open{
	top: 50%;
}
#iaproyecto {
	        padding: 12px ;
	        padding-right: 25px;
	        padding-left: 25px;
					margin: 7px;
					position: absolute;
					left: 45%;
					top: 16%;
					border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
					
}
#ireferencias {
					margin: 7px;
					padding: 12px ;
	        padding-right: 25px;
	        padding-left: 25px;
					position: absolute;
					left: 75%;
					top: 16%;
					border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
			
}
#título {
				margin: 10px;
			}

#referencias {
margin: 10px;
top: 200%;
position: absolute;
background-color: #D6DCE5;}

a:link {
  color: #FF006E
}
a:visited {
	color:#FF006E
}
.descripcion{
background-color: black;
margin: 10px;
color: white;
height: 3340px;}