body{

background-image: url(https://i.pinimg.com/564x/52/0c/55/520c555d36ddad29e426fe2f2a410370.jpg);
background-repeat: no-repeat;
background-size: cover;
}

header {
	padding: 2px;
				background-color: black;
				font-family: 'Sedgwick Ave', cursive;
				color: white;
			}

nav {background-color: blue;}

#grande {width: 960px;}

section {background-color: black;
margin: 10px;
color: white;}

.autores{
font-family: 'Sedgwick Ave', cursive;
position: absolute;
top: 34%;
left: 15%;
}


article {background-color: #A5B1BD;}

aside {
			display: relative;
			width: 90px;
			height: 650px;
			background-color: #FF006E;
			float: right;
			padding: 20px;
			font-family: sans-serif;
			position: absolute;
			right: 2%;
			border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
		
}

#contenedor {
						width: 1000px;
						padding: 20px 0 px;
						margin: 0px;
						background: #E6ECF0;
						margin: 0 auto;
						float: center; 
						font-family: sans-serif;
					}

				
.indice {
					width: 1000px;
					height: 100px;
					position: relative;
					background-color:#FF006E ;

					color: #FF006E}
.indi{
	font-family: 'Sedgwick Ave', cursive;
	font-size: 20px;
	color: black;
	position: absolute;
	top: 10%;
}

.subindice {
						position: absolute;
						display: inline-block;
						margin: 20px;
						font-family: 'Sedgwick Ave', cursive;
						font-size: 20px;
						background-color: black;
						padding: 20PX	;
}
	
#iautor {margin: 7px;
	padding: 12px ;
	        padding-right: 25px;
	        padding-left: 25px;
					position: absolute;
					left: 15%;
					top: 16%;
					border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
					
}
#iaproyecto {
	        padding: 12px ;
	        padding-right: 25px;
	        padding-left: 25px;
					margin: 7px;
					position: absolute;
					left: 45%;
					top: 16%;
					border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
					
}
#ireferencias {
					margin: 7px;
					padding: 12px ;
	        padding-right: 25px;
	        padding-left: 25px;
					position: absolute;
					left: 75%;
					top: 16%;
					border: 5px hidden #1C6EA4;
border-radius: 15px 15px 15px 15px;
			
}
#título {
				margin: 10px;
			}

#autor {
				margin: 10px;
				
			}



#autor {
				margin: 10px;
				}


#referencias {
margin: 10px;
background-color: #D6DCE5;}

a:link {
  color: #FF006E
}
a:visited {
	color:#FF006E
}